
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}
/*------------global-----------*/
.container {
  max-width: 85%;
  margin: auto;
}

.blog_padding .text {
  padding: 40px 30px;
}
.blog_padding h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 20px 0;
  transition: 0.5s;
}

.blog_padding span {
  text-transform: uppercase;
  font-weight: 500;
  color: #262A56;
  padding: 5px;
}
.blog_padding span label {
  margin-left: 10px;
  color: #B8621B;
  font-size: 17px;
  font-weight: bold;
}
.blog_padding span:nth-last-child(1) label {
  color: #B8621B;
}
.blog_padding p {
  color: grey;
}

.container_grid2 {
 padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.flexSB i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #790505;
  transition: 0.5s;
}


.flexSB label {
  padding: 20px;
 
 }

 .Box{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 0.05rem;
   padding: 10px;
 }

.text h{
 padding-left: 10px;
 padding-right: 10px;
 padding-bottom: 30px;
}
.text p{
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 20px;
}

.btn {
 border-radius: 5px;
 width: 60%;
 padding: 10px 5px;
 background: #B8621B;
 border: none;
 color: #fff;
 cursor: pointer;
 font-weight: bold;
}

.btngroup{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 1.5rem;
 padding: 10px;
}

.form{
  padding-top: 10px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.form input{
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;

}

.searchInput{
  background: #fff;
  width: 90%;
  height: 50px;
  border: none;
  outline: none;
  padding: 25px;
  border-radius: 25px 0 0 25px ;
 
  box-shadow: 0 0 20px 0 rgba(112,121,138,.18);
}

.searchBtn{
  position: relative;
  
  box-shadow: 0 0 20px 0 rgba(112,121,138,.18);
  border-radius: 0 25px 25px 0;
  width: 10%;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #262a567a;
}